h1 {
  color: #f76b8a;
  font-size: 40px;
}
button {
  margin: 5px 40px;
}
li {
  list-style: none;
  line-height: 20px;
  font-weight: 100;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
footer {
  text-align: center;
  margin-top: 25px;
}
body {
  background-color: #ffcbcb;
}
.app-body {
  max-width: 600px;
  font-family: arial, sans-serif;
  margin: 20px auto;
}
.body-border {
  border: solid white 2px;
  border-radius: 25px;
  padding: 30px;
  background: #ffb5b5;
}
.row {
  margin: 25px 17px;
}
.weather-temperature img {
  margin-right: 15px;
  height: 45px;
  width: 45px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -30px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
  font-weight: bolder;
}

#temperature {
  font-size: 50px;
}

.details,
#city {
  margin-left: 28px;
}
